<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>C'mon, get happy!</title>
		<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
			<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body ng-app="GetHappy">
	  <nav ng-controller="NavigationCtrl">
    	<div class="nav-wrapper">
      	<a href="#" class="brand-logo">C'mon, get happy!</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down" ng-repeat="link in navLinks">
        		<li><a href="#">{{link.name}}</a></li>
      		</ul>
    	</div>
  	</nav>

		<h4>Cmon, get happy! - A self-care resource</h4>

	<div ng-controller="PredefCtrl">
		<div class="container">
			<div class="activityDisplay">
				<div ng-repeat="activity in activityObject">
					<div class="activityCard">
					<h6>{{activity.name}}</h6>
					<h6>{{activity.time}}</h6>
					<h6>{{activity.cost}}</h6>
					<h6>{{activity.location}}</h6>
					<h6>{{activity.description}}</h6>
					<button>Add to my cards</button>
				</div>
			</div>
		</div>



	</div>
	<script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>

	<script type="text/javascript" src="app/app.js"></script>

  <script type="text/javascript" src="app/factories/StarterCards.js"></script>

	<script type="text/javascript" src="app/controllers/PredefCtrl.js"></script>

</body>
</html>